.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 80%;
    padding: 4px;
}

.popup-arrow {
    color: rgb(255, 255, 255);
}

[role='tooltip'].popup-content {
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
    background: transparent;
}

/* AddNotePopup.css */

.popup {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.message-box {
    margin-bottom: 20px;
    text-align: left;
}

.input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Add more styles as needed */
.input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Vertically center the label and input */
    gap: 16px;
    /* Adjust the gap as needed */
}

/* AddNotePopup.css */
.content-textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* Increase the height as needed */
    height: 330px;
    /* Adjust the height as desired */
}